* {
    font-family: Dank Mono, monospace;
}

.titlebar-right {
    display: none !important;
}

.titlebar-left {
    flex-grow: 0 !important;
    width: fit-content !important;
}

.titlebar-center {
    margin: 0 auto !important;
    padding-right: 200px !important;
}

.titlebar-center .action-item:not(.action-item .action-item) {
    display: none !important;
}

.titlebar-center .command-center-center:not(.action-item .action-item) {
    display: block !important;
    background: none !important;
    width: fit-content !important;
}

.titlebar-center .codicon-search {
    display: none !important;
}
